# for This Project
## Ignore the FFmpeg sources.
/src/*
/make/gnumake/*
/gen/libavutil/ffversion.h

# for General
## CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

## macOS
.DS_Store

## Windows
Thumbs.db

## Vim
*.swp

## Visual Studio Code
*.vscode
